/* Variable declaration for color palette */
:root {
  --first-bg-color: #43bdd9;
  --second-bg-color: #9bf2ea;
  --main-bg-color: rgb(201, 212, 214);
  --main-text-color: rgb(29, 41, 60);
  --secondary-text-color: rgb(29, 74, 123);
}

.header {
  text-align: center;
}

.control-bar {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(80, 20px);
  grid-template-rows: repeat(auto-fill, 20px);
  align-items: center;
  justify-content: center;
}

.cell {
  border: white 1px solid;
  outline: 1px solid black;
  outline-offset: -2px;
  background-color: white;
  aspect-ratio: 1;
}

.cell-visited {
  animation-name: visitedAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.5);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.cell-shortestpath {
  animation-name: shortestPath;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.5);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
